[Desktop Entry]
Name=Amethyst-Light
Comment=Amethyst-Light

X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Email=l4k1987@gmail.com
X-KDE-PluginInfo-Name=Amethyst-Light
X-KDE-PluginInfo-Version=1.2
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0
